---
import BaseLayout from "@components/base/BaseLayout.astro";
import { render } from "astro:content";
import type { DocsEntry } from "@/types";

interface Props {
  entry: DocsEntry;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const { title, description, image } = entry.data;
---

<BaseLayout title={title} description={description} image={image}>
  <section class="section">
    <div class="container mx-auto">
      <div class="mb-8 text-center">
        {image && (
          <img
            src={image}
            alt={title}
            class="mx-auto rounded-lg shadow-lg max-h-96 object-cover"
          />
        )}
        <h1 class="mt-4 text-3xl font-bold">{title}</h1>
        {description && <p class="mt-2 text-lg">{description}</p>}
      </div>
      <div class="content glass p-4 rounded-lg">
        <Content />
      </div>
    </div>
  </section>
</BaseLayout>
