---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, content, button } = entry.data;
---

<BaseLayout>
  <section class="section min-h-screen flex items-center">
    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row items-center justify-center gap-8">

      {/* Imagen a la izquierda */}
{image && (
  <div class="flex-shrink-0 w-[80px] lg:w-[512px]">
    <Image
      class="rounded-lg"
      src={image}
      alt={imageAlt}
      width={1024}
      height={1024}
      loading="eager"
    />
  </div>
)}


        <!-- Texto a la derecha con fondo translúcido -->
        <div class="backdrop-blur-md rounded-lg p-8 text-left max-w-lg" style="background-color: rgba(255,255,255,0.2);">
          <h1 set:html={markdownify(title)} class="mb-6 text-center lg:text-left" />

          {content.split("\n\n").map((parrafo) => (
            <p class="mb-4">{parrafo}</p>
          ))}

          <div class="mt-6 text-center lg:text-left flex flex-col gap-4">
            {button && (
              <Button
                label={button.label}
                link={button.link}
                newtab
                hoverInvert
                color=""
              />
            )}

      </div>
    </div>
  </section>
</BaseLayout>

<style global>
  /* Fondo dual día/noche */
  html::before,
  html::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
  }

  html::before {
    background-image: url(/src/assets/backgrounds/fondo.png);
    opacity: 1;
  }

  html.dark::before {
    opacity: 0;
  }

  html::after {
    background-image: url(/src/assets/backgrounds/dark.png);
    opacity: 0;
  }

  html.dark::after {
    opacity: 1;
  }
</style>
